.lincoapp-picture
    .picture
        .imgs
            .u-img
                img.current(src="images/imgs/1.jpg", alt="")
            .prev
            .next
        .aside
            .section.user
                .userimg
                    img(src="images/face/2.jpg")
                .userinfo
                    .username Gavinning
                    .userfollowers 89617
            .section.tags
                i.tag beauty
                i.tag sex
                i.tag kawayi