.lincoapp-picture
    .picture
        .imgs
            .u-img
                img(src="images/imgs/1.jpg", alt="")
            .prev
            .next
        .aside
            .user
                .userimg
                    img(src="images/face/2.jpg")
                .userinfo
                    .username Gavinning
                    .userfollowers 89617
