.lincoapp-remodal
    .remodal(data-remodal-id='modal', data-remodal-options='hashTracking: false, closeOnOutsideClick: false')
        button.remodal-close(data-remodal-action='close')
        h1 Remodal
        p
        | Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
        br
        button.remodal-cancel(data-remodal-action='cancel') Cancel
        button.remodal-confirm(data-remodal-action='confirm') OK
